* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div#app {
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0 20px;
  height: 40px;
  background-color: $color-secondary;

  a {
    @include text-md;
    @include interactive-element;
    text-decoration: none;
  }
}

main {
  @include background-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 40px);
}
