* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div#app {
  height: 100vh;
}

header {
  position: sticky;
  top: 0;
  background-color: $color-secondary;
  z-index: 1;
}

nav {
  height: 40px;
  padding: 0 20px;

  ul {
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 40px;
    margin: 0;
    list-style-type: none;
  }

  li {
    text-decoration: none;
  }

  a {
    @include text-md;
    @include interactive-element;
    text-decoration: none;
  }
}

main {
  @include background-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 40px);
}
