<main>
  {{> Dialog
    styles=styles
    title="Авторизация"
    formId="authorizationForm"
    settings=settings
    buttonId="authorizationButton"
    buttonText="Войти"
    linkId="registrationLink"
    linkHref="/registration"
    linkText="Нет аккаунта?"
  }}
</main>
