<main>
  {{> Dialog
    styles=styles
    dialogTitle="Авторизация"
    dialogFormId="authorizationForm"
    dialogSettings=settings
    dialogButtonId="authorizationButton"
    dialogButtonText="Войти"
    dialogLinkId="registrationLink"
    dialogLinkHref="/registration"
    dialogLinkText="Нет аккаунта?"
  }}
</main>
