<main>
  {{> Dialog
    styles=styles
    title="Регистрация"
    formId="registrationForm"
    settings=settings
    buttonId="registrationButton"
    buttonText="Зарегистрироваться"
    linkId="authorizationLink"
    linkHref="/authorization"
    linkText="Войти"
  }}
</main>

