<main>
  {{> Dialog
    styles=styles
    dialogTitle="Регистрация"
    dialogFormId="registrationForm"
    dialogSettings=settings
    dialogButtonId="registrationButton"
    dialogButtonText="Зарегистрироваться"
    dialogLinkId="authorizationLink"
    dialogLinkHref="/authorization"
    dialogLinkText="Войти"
  }}
</main>

