<main>
  <div class="{{styles.container}}">
    <h1 class="{{styles.title}}">Регистрация</h1>
    <form class="{{styles.form}}" id="registrationForm">
      {{#each settings}}
        {{> Input
          id=id
          name=name
          label=label
          labelClass=(lookup ../styles 'label')
          placeholder=placeholder
          type=type
          required=required
          inputClass=(lookup ../styles 'input')
          error=error
          errorClass=(lookup ../styles 'error')
        }}
      {{/each}}

      {{> Button id="registrationButton" text="Зарегистрироваться" type="submit" class=styles.button }}
    </form>
    <a id="authorizationLink" href="/authorization" class="{{styles.link}}">Войти</a>
  </div>
</main>
