<header>
  <nav>
    <ul>
       {{#each links}}
        <li>
          {{> Link
              href=href
              text=text
              id=id
          }}
        </li>
      {{/each}}
    </ul>
  </nav>
</header>
